* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: fuenteTekoMedium;
    src: url(../fuentes/teko/Teko-Medium.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

main {
    width: 100%;
    height: auto;
    /*background-color: #f2f2f2;*/
}

.ficha_del_pais {
    margin-top: 0px;
    height: 745px;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.ficha_del_pais .portada_contenedor, .portada_contenedor_bases_sep, .portada_contenedor_proceso_previo {
    width: 30%;
    height: 100%;
    margin-right: 3%;
    border-right: solid 2px black;

    background-image: url("../img/imagenes/JPG/1289307.png");
    background-size: cover;
}

.portada {
    width: 90%;
    height: 100%;
    margin-right: 5%;
}

.informacion_del_programa, .requisitos_sep, .requisitos_previos {
    width: 75%;
    height: 100%;
}

.titulo_autor_fecha {
    margin-top: 25px;
}

.periodos_instancia {
    border-bottom: solid 2px black;
    width: 100%;
    height: 50px;
    display: flex;

}

.nombre_del_programa {
    font-size: 36pt;
}

.siguiente_instancia {
    width: 50%;

    font-size: 24pt;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ultima_instancia {
    width: 25%;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;

    font-size: 24pt;
}

.descripcion {
    border-bottom: solid 2px black;
    margin-top: 25px;
    height: 80%;
    margin-bottom: 25px;
}

.descripcion h2 {
    font-size: 2.5em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.descripcion p {
    font-size: 1.5em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}
