* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: fuenteTekoMedium;
    src: url(../fuentes/teko/Teko-Medium.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

@font-face {
    font-family: fuenteTekoBold;
    src: url(../fuentes/teko/Teko-Bold.ttf);
}

main {
    width: 100%;
    height: auto;
    /*background-color: #f2f2f2;*/
}

.ficha_del_pais {
    margin-top: 0px;
    height: 745px;
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.ficha_del_pais .portada_contenedor,
.portada_contenedor_bases_sep,
.portada_contenedor_proceso_previo {
    width: 40%;
    height: 100%;
    margin-right: 3%;
    border-right: solid 2px black;
    background-image: url("../img/imagenes/JPG/1289307.png");
    background-size: cover;
}

.portada_contenedor img {
    height: 100%;
    width: 100%;
}

.informacion_del_programa,
.requisitos_sep,
.requisitos_previos {
    width: 75%;
    height: 100%;
    border-bottom: solid 2px black;

}

.titulo_autor_fecha {
    margin-top: 25px;
}

.periodos_instancia {
    border-bottom: solid 2px black;
    width: 100%;
    height: 50px;
    display: flex;

}

.nombre_del_programa {
    font-size: 36pt;
}

.siguiente_instancia {
    width: 50%;

    font-size: 24pt;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ultima_instancia {
    width: 50%;

    font-family: "nexa", sans-serif;
    font-weight: 100;
    font-style: italic;

    font-size: 24pt;
}

.descripcion {
    margin-top: 25px;
    height: 90%;
    margin-bottom: 25px;
}

.descripcion h2 {
    font-size: 2.5em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.descripcion p {
    font-size: 1.5em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.boton_mas_informacion {
    width: 61%;
    margin: auto 2% 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000000;
}

.boton_mas_informacion h2 {
    font-size: 2em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.info_btn {
    width: 30%;
    height: 50px;
    background-color: rgb(190, 195, 199);
    color: black;
    font-size: 2em;
    font-family: "nexa", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    border-radius: 6px;
    cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2%;
}

.info_btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    background-color: #496ea0;
    color: aliceblue;
}

.oculto{
    display: none;
}