* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    height: auto;
    max-width: 100%;
    background: rgba(255, 255, 2555, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor_pasos {
    width: 30%;
    height: auto;
    background-color: antiquewhite;
}

.contenedor_descripcion_pasos {
    width: 40%;
    height: auto;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

ol {
  display: flex;
  flex-direction: column; 
  gap: 15px;
}

ol ol{
    margin-left: 60px;
}

ul ol{
    margin-left: 60px;
}

.contenedor_pasos,
.contenedor_descripcion_pasos {
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.3);
}

.paso_proceso {
    width: 100%;
    height: 100px;
    padding: 2%;
    display: flex;
    align-items: center;
    cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.paso_proceso:hover {
    transform: scale(1.05);
    background-color: #133257;
    color: #f1f1f1;
}

.paso_activo {
    background-color: #133257;
    color: #f1f1f1;

}

.paso_proceso:first-child {
    background-color: #133257;
    border-radius: 15px 15px 0 0;
}

.paso_proceso:last-child {
    background-color: #133257;
    border-radius: 0 0 15px 15px;
}

.oculto{
    display: none;
}

.informacion{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.favorable_no_favorable{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
    padding: 2%;
}

.favorable{
    width: 45%;
    height: auto;
        padding: 2%;

}

.no_favorable{
    width: 45%;
    height: auto;
    border-left: black 2px solid;
    padding: 2%;

}

.favorable img{
    width: 15%;
}

.no_favorable img{
    width: 15%;
}

h2 img{
    width: 10%;
}
p img{
    width: 5%;
}